.invoice-table-head {
  background-color: #003366 !important;
  color: white !important;
  font-weight: 600 !important;
  font-family: poppins !important;
  font-size: 14px !important;
  text-align: center;
  vertical-align: middle;
}

.invoice-table-data {
  font-family: poppins !important;
  font-size: 14px !important;
  text-align: center;
  vertical-align: middle;
}

/* Logistics table */

.table-responsive-x {
  overflow-x: auto;
}

.cell-min {
  min-width: 120px;
  white-space: nowrap;
}

.cell-wide {
  min-width: 180px;
  white-space: nowrap;
}

.cell-small {
  min-width: 80px;
  white-space: nowrap;
}

.cell-action {
  min-width: 60px;
  white-space: nowrap;
}

table thead tr th {
  text-align: left;
  font-size: 14px;
  /* min-width: 120px; */
  white-space: nowrap !important;
  padding: 10px !important;
}

table tbody tr td {
  /* min-width: 120px; */
  white-space: nowrap !important;
  text-align: left;
  font-size: 13px;
  padding: 10px !important;
}


/* Login  */
.login-bg-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.login-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Login End */


/* Bootstrap Input */
textarea.form-control {
  height: auto !important;
  min-height: 120px !important;
  resize: vertical;
}


.form-control,
.form-select {
  height: 38px;
  font-size: 14px !important;
  border-radius: 2px !important;
  border: 1px solid rgba(0, 0, 0, 0.26);
}


/* Remove blue Bootstrap focus glow */
.form-control:focus,
.form-select:focus {
  box-shadow: none !important;
  border-color: #0d6efd !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
  font-weight: 700 ;
}
div{
  font-size: 15px;
}



/* End */


